header {
  height: 13vh;
  display: grid;
  padding-block-start: 1rem;

  grid-template-columns: 1fr 50% 1fr;
  grid-template-rows: 40px 1fr;
}

.btn-logout,
.btn-login {
  height: 100%;
  width: 100%;
  grid-column: 3;
  grid-row: 1;
}

.btn-login-link {
  display: grid;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.hero {
  grid-column: 2;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  align-self: center;
  margin: 0;
}

button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #36225c;
}
