header {
  display: grid;
  background-color: #9058f7;
  margin: auto;
  padding:0 1.5rem;
  font-family: 'Agbalumo', sans-serif;
  letter-spacing: 3px;
  grid-template-columns: 1fr 50% 1fr;
  grid-template-rows: 80px 1fr;
 
  border-bottom: 2.5px solid #fcfcfc;
  border-top: none;
  *{
    z-index: 3000;
  }
}

.hero {
  grid-column: 2;
  grid-row: 1;
  color: white;
  white-space: inherit;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 2.8rem;
  margin: 0;
}

@media screen and (max-width: 650px) {
  .hero {
    font-size: 2.5rem;
    line-height: 2rem;
  }
}

.btn-login,
.btn-logout {
  grid-column: 3;
  height: 50%;
  width: max-content;
  border: 1px solid;
  justify-self: end;
  align-self: center;
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: #36225c;
  }
}
