.cell-title-list {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(10px, 1fr));
  padding: 0.5rem 0;
  align-self: center;
  height: 100%;
  grid-column: 1;
  grid-row: 2;
  * {
   align-self: center;
   justify-self: center;
   color: #fcfcfcda;
  }
}


@media screen and (max-width: 950px) {
  .cell-title-list {
    margin-block-start: 0.5rem;
    grid-template-rows: repeat(auto-fit, minmax(10px, 1fr));
  }
}
