
.sequencer-external-container{
  height: 550px;
}


.sequencer {
  display: grid;
  border-radius: 8px;
  width: fit-content;
  max-width: 1250px;
  grid-template-columns: 5rem 1fr;
  margin: 1rem auto;
  margin-block-start: -2rem;

}

.sequencer-scroll-container {
  grid-row: 2;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 5rem 1fr;
  border: 2.5px solid #fcfcfc;
  border-radius: 8px;
  overflow: scroll;
  max-height: 470px;
}

.sequencer-bottom-wrapper{
  display: grid;
  grid-template-columns: 255px repeat(2 , 1fr);
  grid-template-rows: 250px ;

  .user-kits{
    margin-block-start: 1rem;
    height: 30svh;

  }
}


.sequencer-row, .sequencer-lamp-row {
  display: grid;
  height: fit-content;
  align-self: center;
  min-width: 680px;
  grid-template-columns: repeat(16, 1fr);
}

.sequencer-column {
  grid-row: 2;
  height: 100%;
}

.sequencer-row {
  &.xl:not(:last-child) {
    box-shadow: inset 0 -1px 0 #fcfcfc;
  }

  > *:nth-child(4n):not(:last-child) {
    margin-inline-end: 5rem;
  }
}

.sequencer-lamp-row > *:nth-child(4n):not(:last-child) {
  margin-inline-end: 5rem;
}

input[type='checkbox'], .sequencer-lamp input[type='radio'] {
  appearance: none;
  
}

.sequencer-cell {
  display: grid;
  background-color: #36225c;
  cursor: pointer;
  margin-block-start: 1rem;
  height: 40px;
  width: 40px;
  border: 2px solid #fcfcfc;
  border-radius: 8px;

  &.selected {
    background-color: #9058f7;
  }
}


.sequencer-lamp {
  // cursor: none;
  // display: grid;
  
  height: 15px;
  width: 40px;
  border: 2px solid #fcfcfc;
  border-radius: 8px;
  
}

.sequencer-lamp-row{
  height: 100%;
  display: grid;
  align-items: center;
}

.sequencer-lamp input[type='radio']:checked  {
  
  width: 100%;
  height: 100%;
padding: 0;
margin: 0;
  background-color: #9058f7;
  border-radius: 8px;
}



input {
  width: 15px;
  accent-color: #9058f7;
}

@media screen and (max-width: 1300px) {
  .sequencer-row > *:nth-child(4n):not(:last-child), .sequencer-lamp-row > *:nth-child(4n):not(:last-child) {
    margin-inline-end: 3rem;
  }
}

@media screen and (max-width: 1100px) {
  .sequencer-row > *:nth-child(4n):not(:last-child), .sequencer-lamp-row > *:nth-child(4n):not(:last-child) {
    margin-inline-end: 2rem;
  }
}

@media screen and (max-width: 950px) {
  .sequencer-row, .sequencer-lamp-row {
    gap: 0.25rem;
    grid-template-columns: repeat(16, 1fr);
  }

  .sequencer-row > *:nth-child(4n):not(:last-child), .sequencer-lamp-row > *:nth-child(4n):not(:last-child) {
    margin-inline-end: 1.25rem;
  }

  .sequencer-cell {
    height: 30px;
    width: 30px;
  }

  .sequencer-lamp {
    height: 15px;
    width: 30px;
  }
}

@media screen and (max-width: 800px) {
  .sequencer-row, .sequencer-lamp-row {
    min-width: 516px;
    gap: 0rem;
  }

  .sequencer-row > *:nth-child(4n):not(:last-child), .sequencer-lamp-row > *:nth-child(4n):not(:last-child) {
    margin-inline-end: 1.25rem;
  }

  .sequencer-cell {
    height: 25px;
    width: 25px;
  }

  .sequencer-lamp {
    height: 15px;
    width: 25px;
  }
}
