
.sequencer-external-container{
  height: 550px;
}

.sequencer {
  position: relative;
  display: grid;
  border-radius: 8px;
  width: fit-content;
  max-width: 1250px;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: 60px 1fr;
  margin: -2rem auto 1rem;
}

.sequencer-loader{
  position: absolute;
  top: 120px;
}

.sequencer-cell {
  cursor: pointer;
  height: 30px;
  width: 30px;
  label{
    appearance: none ;
    height: 0px;
    width: 0px;
  }
  input[type='checkbox']{
    cursor: pointer;
  }
}

.sequencer-lamp {
  height: 15px;
  width: 30px;
}

.sequencer-external-scroll-container {
  grid-row: 2;
  grid-column: 1/3;
  height: 470px;
  border: 2.5px solid #fcfcfc;
  border-radius: 8px;
  overflow: scroll;
}

.sequencer-internal-scroll-container {
  display: grid;
  grid-template-columns: 5rem 1fr;
}

.main-content-bottom-wrapper{
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 230px repeat(2 , 1fr);
  grid-template-rows: 1fr ;

  .user-kits{
    margin-block-start: 1rem;
    height: 190px;
  }
}

.sequencer-row, .sequencer-lamp-row {
  article{
    cursor: pointer;
  }
  display: grid;
  height: fit-content;
  align-self: center;
  min-width: 680px;
  padding-inline-end: 0rem;
  grid-template-columns: repeat(16, 1fr);
}

.sequencer-row:not(.xl), .sequencer-lamp-row:not(.xl){
  padding-inline-end: 0.5rem;
} 

.sequencer-column {
  grid-row: 2;
  height: 100%;
}

.sequencer-row > *:nth-child(4n):not(:last-child) {
    margin-inline-end: 5rem;
}

.sequencer-lamp-row > *:nth-child(4n):not(:last-child) {
  margin-inline-end: 5rem;
}

input[type='checkbox'], .sequencer-lamp input[type='radio'] {
  appearance: none;
  
}

.sequencer-cell {
  display: grid;
  background-color: #36225c;
  cursor: pointer;
  align-self: center;
  width: 40px;
  height: 40px;
  border: 2px solid #fcfcfc;
  border-radius: 8px;
  margin-block: 0.25rem;

  &.xl {
    margin-block: 0.5rem;
  }

  &.selected {
    background-color: #9058f7;
  }
  input[type='checkbox']{
    height: 100%;
    width: 100%;
  }
}

.track-container {
  position: relative;
  display: grid;
  
  transition: 200ms;
  margin-block: 0.5rem;
  gap: 1rem;
  // Underline effect for tracks when in XL mode (32 step)
  // &.xl:not(.muted):not(:last-child)::after {
  //   content: "";
  //   position: absolute;
  //   bottom: -0.37rem;
  //   left: 50px;
  //   width: 80%;
  //   height: 2px;
  //   background-image: linear-gradient(to right,
  //    rgba(255, 255, 255,0), 
  //    rgba(255, 255, 255, 0.863),
  //     rgba(255,255, 255, 0));
  // }

  &.muted {
    background-color: #463f53;
    padding-inline-start: 0.5rem;
    border-radius: 8px;
    border: none;
    box-shadow: inset 0 0 0 2px #834de7;
    
    .sequencer-cell {
      transition: 200ms;
      background-color: #463f53;

      &.selected {
        box-shadow: none !important;
        border: 2px solid #834de7;
      }
    }
  }
}
 
.sequencer-mute-button,
.sequencer-fx-button {
  position: absolute;
  cursor: pointer;
  left: calc(-2.75rem - 30px);
  top: 1.95rem;

  &.xl {
    top: 4rem;

    &.muted {
      top: 3.75rem;
    }
  }

  width: 60px;
  height: 0.75rem;
  border: 1.5px solid #fcfcfc;
  border-radius: 8px;
  background-color: #9058f7;
  transition: 200ms;

  &.muted {
    background-color: #36225c;
    border: none;
  }
}

.sequencer-lamp-row{
  height: 100%;
  display: grid;
  align-items: center;
  margin-inline: 3px;
}

.sequencer-lamp {
  height: 15px;
  width: 40px;
  border: 2px solid #fcfcfc;
  border-radius: 8px;
}

.sequencer-lamp input[type='radio']:checked  {
  transition: 50ms;
  display: flex;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #9058f7;
  border-radius: 6px;
}

input {
  width: 15px;
  accent-color: #9058f7;
}

@media screen and (max-width: 1300px) {
  .sequencer-row > *:nth-child(4n):not(:last-child), .sequencer-lamp-row > *:nth-child(4n):not(:last-child) {
    margin-inline-end: 3rem;
  }
}

@media screen and (max-width: 1100px) {
  .sequencer-row > *:nth-child(4n):not(:last-child), .sequencer-lamp-row > *:nth-child(4n):not(:last-child) {
    margin-inline-end: 2rem;
  }
}

@media screen and (max-width: 950px) {
  .sequencer-row, .sequencer-lamp-row {
    gap: 0.25rem;
    grid-template-columns: repeat(16, 1fr);
  }

  .sequencer-cell {
    height: 25px;
    width: 25px;
  }
  
  .sequencer-lamp {
    height: 12.5px;
    width: 25px;
  }
}

@media screen and (max-width: 800px) {
  .sequencer-row, .sequencer-lamp-row {
    min-width: 516px;
    gap: 0rem;
  }
  
}

@media screen and (max-width: 700px) {
  .main-content-bottom-wrapper{
    grid-template-columns: 1fr 1fr;
  }
 
  .sequencer-row, .sequencer-lamp-row {
    min-width: 216px;
    grid-template-columns: repeat(8, 1fr);
    gap: 0rem;
  }
}

@media screen and (max-width: 700px) {
  .sequencer-row > *:nth-child(4n):not(:last-child), .sequencer-lamp-row > *:nth-child(4n):not(:last-child) {
    margin-inline-end: 3.5rem;
  }
}

@media screen and (max-width: 630px) {
  .sequencer-row > *:nth-child(4n):not(:last-child), .sequencer-lamp-row > *:nth-child(4n):not(:last-child) {
    margin-inline-end: 2.5rem;
  }
}

@media screen and (max-width: 530px) {
  .sequencer-row > *:nth-child(4n):not(:last-child), .sequencer-lamp-row > *:nth-child(4n):not(:last-child) {
    margin-inline-end: 2.5rem;
  }
}

@media screen and (max-width: 430px) {
  .sequencer-row > *:nth-child(4n):not(:last-child), .sequencer-lamp-row > *:nth-child(4n):not(:last-child) {
    margin-inline-end: 1.5rem;
  }
}

@media screen and (max-width: 391px) {
  .sequencer-cell {
    height: 22.5px;
    width: 22.5px;
  }
  
  .sequencer-lamp {
    height: 12.5px;
    width: 22.5px;
  }
}
