.cell-title-list {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(10px, 1fr));
  padding: 0.5rem 0;
  align-self: center;
  align-items: center;
  justify-items: center;
  height: calc(100% - 0.5rem);
  grid-column: 1;
  grid-row: 2;
  .cell-title-container{
    display: grid;
    height: 100%;
    grid-template-rows: repeat(3,1fr);
    .cell-title {
      grid-row: 2;
      color: #fcfcfcda;
       transform: translateY(-0.5rem);
       
       &.xl{
         transform: translateY(-0.25rem);
       }
    }
  }
}



@media screen and (max-width: 950px) {
  
  
}
