.sequencer-options {
  display: grid;
  white-space: nowrap;
  font-size: 0.9rem;
  background-color: #9058f7;
  min-width: 300px;
  grid-template-columns: auto auto auto  0.5fr 0.5fr;
  grid-template-rows: 25px;
  justify-items: start;
  border-radius: 6px;
  gap: 0.5rem;
  padding-inline: 0.25rem;
  * {
    min-width: min-content;
    display: flex;
    align-items: center;
  }

  .options-wrapper {
   gap: 0.5rem;
  }

  button {
    transition: 250ms;
    background-color: inherit;
    color: inherit;
    border: none;
    display: grid;
    border-radius: 8px;
    box-shadow: inset 0 0 0 2px #834de7;
    padding: 0.25rem;
    cursor: pointer;

    &:hover {
      box-shadow: inset 0 0 0 1px #fcfcfc;
    }
  }

  .select-kit {
    display: none;
  }

  .range-controls {
    grid-column: 6;
    display: flex;
    gap: 0.5rem;
    width: 90%;
    justify-self: end;
   
  }

  .song-options-menu {
    width: 150px;
    gap: 0.25rem;
    .user-song-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    .user-song {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding-inline: 0.25rem;
      padding-block: 1.5px;
      border-radius: 8px;
      gap: 0.1rem;

      &:hover {
        transition: 250ms;
      }

      &.selected{
        background-color: #36225c;
      }
    }

    .save-song-btn,
    .clear-song-btn {
      width: 60px;
    }
  }

  .bpm,
  .volume {
    gap: 0.1rem;
  }

  .step-length-wrapper {
    display: flex;
    justify-items: center;
    max-width: 100px;
    min-width: 100px;
    height: 21px;
    
    label {
      cursor: pointer;
      height: 100%;
      width: 50%; 
      margin: 0.1rem !important;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #36225c;
      border-radius: 8px;
      transition: 250ms;
      color: #fcfcfc;
      
      &:hover{
        box-shadow: inset 0 0 0 1px #fcfcfc;
      }

      &.checked {
        background-color: #9058f7; 
        box-shadow: inset 0 0 0 1px #fcfcfc;
      }
      
      input[type='radio'] {
        cursor: pointer;
        display: none; /* Hide the default radio input */
  
      }
    }
  }

  .pagination-controls-wrapper {
    max-width: 42px;
    min-width: min-content;
    * {
      display: grid;
      justify-self: center;
      align-self: center;
      min-width: 11px;
    }
  }

  input {
    &[type='range'] {
      -webkit-appearance: none;
      appearance: none;
      width: 80%;
      min-width: 50px;
      height: 15px;
      border-radius: 5px;
    }

    &[type='radio']:not(.sequencer-lamp-input) {
      cursor: pointer;
      height: 100%;
      width: 100%;
      margin: 0.1rem !important;
    }

    &[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 10px;
      height: 10px;
      background-color: #9058f7;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 700px) {
  .sequencer-options .song-options-menu {
    display: none;
  }

  .sequencer-options .step-length-wrapper {
    display: none;
  }

  .sequencer-options .delay, .sequencer-options .reverb, .sequencer-options .swing {
    display: none;
  }

  .range-controls {
    width: 75%;
    justify-self: end;
  }
}

