.sounds-list {
  height: 28vh;
  display: grid;
  padding: 1rem 1.5rem;
  overflow: scroll;
  gap: 0.5rem;
  /* border: 2px solid rgb(189, 177, 189); */
  border-radius: 8px;
  transition: 500ms;
}

.sounds-list.collapsed {
  width: fit-content;
  grid-column: 1;
}

.sounds-list.expanded {
  grid-template-columns: repeat(auto-fit, minmax(133px, 1fr));
  gap: 1.3rem;
  row-gap: 0;
  grid-column: 1/4;
}

.sounds-list-expand-button {
  justify-self: start;
}

.alert {
  box-shadow: inset 0 0 0 2px rgb(189, 177, 189) !important;
  border-radius: 8px;
}
