.sounds-list {
  height: 28dvh;
  display: grid;
  padding: 1rem 2rem;
  overflow: scroll;
  gap: 0.5rem;
  margin-block-start: 1rem;
  border-radius: 8px;
  transition: 500ms;

  &.collapsed {
    width: fit-content;
    grid-column: 2;
  }

  &.expanded {
    grid-template-columns: repeat(auto-fit, minmax(133px, 1fr));
    gap: 1.3rem;
    height: 30svh;
    row-gap: 0;
    grid-column: 2/4;
  }
}

 .sounds-list-placeholder{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/4;
  height: 100%;
}

.sound-title {
  justify-self: center;
}

.sounds-list-expand-button {
  justify-self: start;
}

.alert {
  box-shadow: inset 0 0 0 2px rgb(189, 177, 189) !important;
  border-radius: 8px;
}
