.kit-filter {
  display: grid;
  grid-column: 1/4;
  grid-row: 3;
  justify-self: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.kit-filter * {
  color: #ccc !important;
}

.filter-select {
  /* width: 290px; */
  width: 100%;
}

.MuiSelect-select {
  padding: 7px !important;
}

.kit-filter input {
  width: 100%;
  height: 20px;
  /* width: 260px; */
}
