.user-kit-details {
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  /* gap: 1rem; */
  padding: 1rem;
  width: 100%;
  width: 170px;
  z-index: 100 !important;
}

.user-kit-details:hover {
  transition: 250ms;
  box-shadow: inset 0 0 0 1px #834de7;
  border-radius: 8px;
}

.user-kit-details.expanded {
  margin-block-start: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-columns: 0.5fr 0.25fr 0.25fr; */
  width: 120px;
}

.user-kit-details * {
  height: 40px;
  margin: 0 auto;
}
.user-kit-details p {
  align-self: center;
}

.user-kit-details button {
  font-size: 0.75rem;
  width: 100%;
  height: 40px;
  z-index: 0;
}

.remove-icon {
  transition: 500ms;
  width: 15px;
  height: 15px;
}

.user-kit-details p {
  height: 28px;
}
