.drum-machine-wrapper {
  display: grid;
  margin: auto ;
  height: 100%;
  // width: 100%;
  padding: 0 1rem;
  gap: 1.5rem;
}

.drum-machine {
  display: grid;
  margin-block-start: 5.5rem;
  grid-template-rows: 465px 0.1fr 1fr;
}

.drum-table {
  display: grid;
  grid-template-columns: repeat(auto-fit,90px);
  grid-template-rows: repeat(auto-fit,90px);
  gap: 1rem;
  max-width: 400px;
  height: calc(100% - 4rem);
  overflow: scroll;
  align-self: center;
  justify-self: end;
  padding: 1rem;
  border-radius: 8px;
}

