.drum-machine-options {
  display: grid;
  grid-template-rows: 25px;
  white-space: nowrap;
  font-size: 0.9rem;
  background-color: #9058f7;
  grid-template-columns: max-content max-content 1fr 1fr;
  gap: 0.25rem;
  justify-items: start;
  border-radius: 6px;
  p {
   color: #fcfcfc;
  }
}

