.user-info {
  height: 100%;
  overflow: scroll;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: inherit;
  transition: color 0.25s;

  * {
    color: #ccc !important;
  }
}

.user-info-greeting {
  font-size: 1rem;
  align-self: end;
  justify-self: start;
}

.user-kit-select-item {
  display: grid !important;
  max-width: 140px;
  overflow: hidden !important;
  grid-template-columns: 0.9fr 0.5fr !important;

  button {
    justify-self: end;
  }
}
