.user-info {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  padding-top: 1rem;
  grid-column: 1;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: inherit;
  transition: color 0.25s;
}

.user-info * {
  color: #ccc !important;
}

.MuiSelect-select {
  overflow: hidden;
}
