.nav-menu {
  grid-row: 1;
  align-self: center;
}

.bm-burger-button {
  position: sticky;
  width: 36px;
  height: 30px;
}

.bm-menu-wrap {
  max-width: 180px;
}

.bm-burger-bars {
  background: #ffffff;
}

.bm-menu {
  background: #373a47;
  padding: 1.5em 1.5em 0;
  margin: 0.5rem 0 0 0;
  font-size: 1.15em;
}

.bm-menu-item {
  display: inline-block;
  margin-bottom: 10px;
  color: #ffffff;
  text-decoration: none;
}

.bm-menu-item:hover {
  color: #b8b7ad;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}
